html {
    text-align: center;
    font-family: monospace;
}

#calc {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-items: center;
    overflow: hidden;
    background-color:aliceblue;
}

#container {
    background-color: rgba(47, 47, 47, 1);
    border: 10px solid rgba(47, 47, 47, 1);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    gap: 2px;
    padding: 10px;
    width: 420px;
}

#display {
    grid-column: 1 / -1;
    background-color: #b2b2b2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 15px;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
}

button {
    margin: 2px;
    border-radius: 8px;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
}


.operator {
    background-color: #2fbe8f;
}

.operator:focus {
    background-color: #36d8a2;
}

.equals {
    background-color: #2fbe8f;
}

.equals:focus {
    background-color: #36d8a2;
}

.clear, .backspace, .percent, .scientific-toggle{
    background-color: rgb(40, 196, 196);
}

.clear:active, .backspace:active, .percent:active{
    background-color: rgb(49, 238, 238);
}

.operand, .decimal, .sign{
    background-color: aquamarine;
}

.operand:active, .decimal:active, .sign:active{
    background-color: rgb(184, 255, 231);
}

button.scientific-toggle {
    grid-column: 1 / -1;
    font-size: 2.5em;
    padding: 10px 0;
}

/* Scientific buttons grid layout */
.scientific-buttons {
    grid-column: 1 / -1; /* Span all columns */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.scientific-buttons button {
    background-color: 2fbe8f;
    font-size: 2em;
    margin: 0;
    border-radius: 8px;
}

.scientific-buttons button:active {
    background-color: rgb(184, 255, 231);
}
